.avatar {
  display: flex;
  justify-content: center;
}

.bg-header {
  background-color: #CCCCCC;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.text-center {
  text-align: center;
}

img.resize {
  width: 200px;
}

.notbold {
  font-weight: normal;
}

.name-h2 {
  margin: 24.7px;
}