
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3000;
}

.bg-dark {
  background-color: #4056A1;
}

.navbar {
  display: flex;
  height: 120 px;
  padding: 1.5em;
  padding-bottom: 0.5em;
  color: #FFFFFF;
}

.navbar-brand {
  color: #FFFFFF;
  font-family: "Bungee";
  font-size: 30px;
}

.navbar-right {
  display: flex;
  margin-left: auto;
}

.navbar-bar {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  padding: 1em;
}

.nav-tweet {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: #FFFFFF;
  padding-top: 6px;
}