
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3000;
}

.bg-dark {
  background-color: #4056A1;
}

.navbar-brand {
  height: 120 px;
  padding: 1.5em;
}

span {
  color: #FFFFFF;
  font-family: "Bungee";
}