#article {
  margin-top: 2em;
  border: solid;
  background-color: transparent;
  font-size: 20px;
}

#article:hover {
  box-shadow: 0.6em 0.6em #FFD700;
}

#article:hover .userhandle{
  opacity: 1;
}

.article-header {
  margin: 0.75em;
  display: flex;
  align-content : bottom;
}

.fullname {
  margin: 0.6em auto 0 0.6em;
}

.userhandle {
  margin: 0.6em 0 0 auto;
  opacity: 0;
}

.av-resize {
  width: 50px
}

.tweet {
  margin: 0.75em 0.75em 0.75em 1.5em;
  background-color: transparent;
}

#tweet-footer {
  display: flex;
  margin: 0.25em 1.5em 1.5em 1.5em;
  border-top: solid;
  padding-top: 0.5em;
  font-size: 12px;
}

.created {
  padding-left: 1em;
}

.icons {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.icon-resize {
  width: 15px;
  margin-left: 0.35em;
}