.article {
  margin-top: 2em;
  border: solid;
  background-color: transparent;
  font-size: 20px;
}

.article-header {
  margin: 0.75em;
  display: flex;
  align-content : bottom;
}

.fullname {
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.userhandle {
  margin-left: auto;
  margin-top: 10px;
}

.av-resize {
  width: 50px
}

.tweet {
  margin: 0.75em 0.75em 0.75em 1.5em;
  background-color: transparent;
}

footer {
  display: flex;
  margin: 1.5em;
  border-top: solid;
  margin-top: 0.25em;
  padding-top: 0.5em;
  font-size: 12px;
}

.created {
  padding-left: 1em;
}

.icons {
  display: flex;
  margin-left: auto;
}

.icon-resize {
  width: 15px;
  margin-left: 5px;
}